.about {
    padding: 80px 0;
    @media (max-width: 1000px) {
        padding: 50px 0;
    }
    h3{
        @media (max-width: 1000px) {
            margin-bottom: 50px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1000px) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        max-width: 483px;
        font-size: 26px;
        font-family: Jeff Script;
        margin-top: 100px;
        @media (max-width: 1000px) {
            margin-bottom: 50px;
        }
    }

    &__img {
        position: relative;
        width: 347px;
        height: 500px;
        border-radius: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 10vw;
            background-color: var(--white-color);
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 1000px) {
                width: 1px;
                height: 40px;
                right: 50%;
                transform: translateX(-50%);
                top: auto;
                bottom: -40px;
            }

        }
        &::before{
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--white-color);
            right: calc(10vw + 100%);
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 1000px) {
                right: 50%;
                transform: translateX(40%);
                top: auto;
                bottom: -54px;
            }
        }

        img {
            height: 100%;
            width: 347px;
            height: 500px;
            border-radius: 250px;
            border: 5px solid var(--white-color);

            // width: auto;
            object-fit: cover;
            filter: brightness(80%) contrast(120%);
        }
    }
    &__link{
        width: 100%;
        text-align: center;
    }
}