.offer {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 280px 0;
    @media (max-width:1220px) {
        padding: 80px 0;
    }
    @media (max-width:520px) {
        background-position: -240px center;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width:1220px) {
            flex-direction: column-reverse;
        }
        @media (max-width:704px) {
            padding: 0 10px;

        }
        @media (max-width:440px) {
            padding: 0;
    
        }
    }

    &__block {
        max-width: 585px;
    }

    &__title {
        text-align: right;
        margin-bottom: 24px;
        @media (max-width:704px) {
            font-size: 72px;

        }
        @media (max-width:520px) {
            font-size: 56px;

        }
        @media (max-width:440px) {
            font-size: 48px;
        }
    }

    &__subtitle {
        text-align: right;
        font-size: 40px;
        font-family: Montserrat;
        font-weight: 500;
        max-width: 550px;
        margin-left: auto;
        @media (max-width:704px) {
            font-size: 32px;

        }
        @media (max-width:520px) {
            font-size: 20px;

        }
    }

    &__quote {
        display: inline-block;
        width: 50%;
        @media (max-width:1130px) {
            width: 80%;
        }
        @media (max-width:704px) {
            width: 100%;

        }


        &--text {
            padding: 54px 64px;
            font-family: Jeff Script;
            font-size: 36px;
            margin-bottom: 60px;
            @media (max-width:704px) {
                padding: 32px 40px;
            }
            @media (max-width:580px) {
                font-size: 26px;
    
            }
            @media (max-width:470px) {
                padding: 32px 15px;
                margin-bottom: 20px;

    
            }
            @media (max-width:390px) {
                font-size: 20px;
            }
            p {
                transform: rotate(-5.514deg);
                @media (max-width:1130px) {
                   text-align: center;
                }
            }

        }

        &--btns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width:1130px) {
                gap: 30px;
            }
            @media (max-width:470px) {
                gap: 10px;
                flex-direction: column;
            }
            .btn{
                @media (max-width:470px) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }


}