.type {
    padding: 100px 0;

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        margin: 100px 0 90px;
        @media (max-width: 860px) {
            display: block;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;
        }
           
    }

    &__content {
        position: relative;
        height: 640px;
        width: 100%;

        &--img {
            position: relative;
            width: 80%;
            height: 640px;
            overflow: hidden;
            cursor: pointer;
            @media (max-width: 860px) {
                margin: 0 auto;
            } 
            @media (max-width: 425px) {
                width: 100%;
            } 
            
            img,source {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                object-fit: cover;
            }
        }

        &--text {
            position: absolute;
            max-width: 585px;
            padding: 40px;
            background: rgba(0, 0, 0, 0.50);
            color: var(--white-color);
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 860px) {
                position: relative;
            } 
            @media (max-width: 425px) {
                padding: 15px;

            } 
            p {
                margin-bottom: 24px;
                font-size: 20px;
                line-height: 30px;
                @media (max-width: 425px) {
                    display: none;
                font-size: 16px;

                } 
            }
            .btn-o{
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    width: 45%;
                    margin-right: 20px;
                } 
            }
            .read{
                @media (min-width: 425px) {
                    display: none;
                } 
            }
        }
    }
    .tabs__nav-btn{
        height: 58px;
        @media (max-width: 860px) {
            display: block;
            width: 100%;
            border-radius: 0;
        } 
    }
}