.type {
    padding: 100px 0;

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        margin: 100px 0 90px;
    }

    &__content {
        position: relative;
        height: 640px;
        width: 100%;

        &--img {
            position: relative;
            max-width: 80%;
            height: 640px;
            overflow: hidden;
            cursor: pointer;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                object-fit: cover;
            }
        }

        &--text {
            position: absolute;
            max-width: 585px;
            padding: 40px;
            background: rgba(0, 0, 0, 0.50);
            color: var(--white-color);
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            p {
                margin-bottom: 24px;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .tabs__nav-btn{
        height: 58px;
    }
}