.footer{
    height: 584px;
    background-image: url(../img/footer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
}