body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

h3 {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    @media (max-width:800px) {
        font-size: 36px;
        text-align: center;
    }
    @media (max-width:510px) {
        font-size: 24px;

    }
}

button {
    color: var(--white-color);
}

.container {
    max-width: 1230px;
    padding: 0 15px;

    margin: 0 auto;
    @media (max-width:520px) {
        padding: 0 8px;

    }
}

.glass {
    @include glass;
}

.anim-start {
    animation: neon 6s infinite ease-in-out;

    img {
        animation: scroll 20s infinite ease-in-out;
    }
}
.btn {
    display: inline-block;
    padding: 23px 42px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    transition: all 0.3s;
    @media (max-width:692px) {
        font-size: 14px;
    padding: 15px 20px;
    }
    

    &:hover {
        background: rgba(255, 255, 255, 0.20);
    }
}

.btn-c {
    display: inline-block;
    padding: 10px 40px;
    background-color: var(--blue);
    border-radius: 10px;
    font-size: 16px;
    font-family: Montserrat;
    transition: all 0.3s;
    height: auto;
    flex: auto;
    &:hover {
        background-color: var(--active);
    }
}
.btn-o{
    display: inline-block;
    padding: 10px 17px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Montserrat;
    transition: all 0.3s;
}

.tabs__nav-btn--active{
    background-color: var(--active);
    box-shadow: 0 0 12px 5px var(--active);
    
}

.tabs__panel {
    display: none;
}

.tabs__panel--active {
    display: block;
}

@include scroll;
@include neon;





.todo{
    height: 540px;
}