body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
}
h3 {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.glass {
    @include glass;
}

.test {
    padding: 100px 0;

    &__img {
        position: relative;
        width: 500px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
        cursor: pointer;

        img {
            position: absolute;
            left: 0;
            width: 100%;
        }

        &.anim-start {
            animation: neon 6s infinite ease-in-out;

            img {
                animation: scroll 15s infinite ease-in-out;
            }
        }
    }
}

.btn {
    display: inline-block;
    padding: 23px 42px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
        background: rgba(255, 255, 255, 0.20);
    }
}


@include scroll;
@include neon;