* {
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul, li{
    display: block;
    margin: 0;
    padding: 0;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}